.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family: 'Nunito', sans-serif !important;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  background-color: #f7f7f7 !important;
}

.box-shadow {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.logo {
  height: 50px;
}

.noleftrightpadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.heading-level-2 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 0px;
    display: block;

}
.heading-level-3 {
  font-size: 21px;
  font-weight: 800;
  padding-top: 0px;
  display: block;

}
.heading-level-4 {
  font-size: 16px;
  font-weight: 800;
  padding-top: 0px;
  display: block;

}
.font-13
{
  font-size: 13px;
}
.submitbtn
{
  background: #F1592A;
border-radius: 5px;
padding: 10px 15px;
color: white;
text-decoration: none;
border:none !important;
width: 100%;

}
.light-text
{
  color: #9F958C;
  ;
}
.theme-highlight-div
{
  background-color: #FDEBE5;
  border-radius: 5px;
  min-height: 132px;
  width: 100%;
  height: auto;

}
.text-theme
{
  color: #F0592A;

}
.norightpadding{
  padding-right: 0px !important;
}
.ml-10
{
  margin-left: 10px;
}
.Toastify__toast
{
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
select {
  background: url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important; 
  appearance: none !important;
  padding-right: 2rem !important;
}